.kino{
margin-top: 9.7rem;
}
.kino__content__left__topBar{
width: 83.19%;
margin: 0 auto;
display: flex;
align-items: center;
column-gap: 2.5rem;

}
.kino__content__left__topBar >div{
display: flex;
align-items: center;
column-gap: 0.8rem;

}
.kino__content__left__topBar >div>i{
font-size: 2.1rem;
color: var(--color-black);
}
.kino__content__left__topBar >div>p{
font-size: 2rem;
font-weight: 400;
line-height: 115%;
color: var(--color-black);
}
.kino__content{
display: flex;
justify-content: space-between;
align-items: center;
column-gap: 14rem;

}

.kino__content__left >h1{
width: 62.8rem;
height: 19rem;
font-size: 8rem;
line-height: 101.38%;
}
.kino__content__left >p{
width: 41.4rem;
font-size: 2rem;
line-height: 150%;
margin-top: 2.5rem;
}
.DirectorImage{
position: relative;

height: 35.6rem;
}

.DirectorImage__botomShadow{
position: absolute;
bottom: 0;
left: 100%;
right: 1000%;
transform: translate(-100%,50%);
width: 27.4rem;
height: 4.1rem;
}
.queto{
margin-top: 8.762rem;
display: flex;
justify-content: center;
}
.queto__content{
padding-left: 2.603rem;
padding-top: 1.926rem;
color: var(--color-white);
width: 48.363rem;
height: 20rem;
border-radius: 0.5rem;
background-color: var(--color-blue);
}
.queto__content >p:nth-child(1){
font-family: var(--main-font2);
width: 43.059rem;
font-size: 2.5rem;
line-height: 130%;
}
.queto__content >p:nth-child(2){
font-family: var(--main-font1);
width: 43.059rem;
font-size: 2rem;
line-height: 130%;
text-align: end;
}
.kurs{
margin-top: 17.336rem;
}
.kurs__TopContent{
display: flex;
justify-content: space-between;
align-items: center;
column-gap: 19rem;


}

.kurs__TopContent__left >p{
width: 66.2rem;
height: 37.4rem;
font-size: 2.4rem;
line-height: 150%;
}
.cameramanImage{
position: relative;

width: 31.4rem;
height: 31.5rem;
}
.cameramanImage__botomShadow{

position: absolute;

bottom: 0;
left: 100%;
right: 100%;
transform: translate(-90%,50%);
width: 36.6rem;
height: 5.9rem;

}
.kurs__bottomContent{
margin-top: 8.1rem;
}
.kranImage{
position: relative;
width: 23.2rem;
height: 20.3rem;
}
.kranImage__bottomShadow{
position: absolute;


bottom: 0;
left: 100%;
right: 100%;
transform: translate(-105%,50%);
width: 18.9rem;
height: 3.2rem;

}
.kurs__bottomContent{
display: flex;
align-items: center;
column-gap: 13.2rem;
}
.kurs__bottomContent__right,.format__content{
display: flex;
align-items: center;

}
.kurs__bottomContent__right{

column-gap: 9.3rem;
}
.kurs__bottomContent__right div{
row-gap: 0.1rem;
}
.kurs__bottomContent__right>div> h4, .format__content>div>h4{
font-size: 2.5rem;
line-height: 130%;
height: 3.9rem;
}
.kurs__bottomContent__right>div> p,  .format__content>div>p{
font-size: 1.8rem;
line-height: 130%;
}
.kurs__bottomContent__right>div> p{
width: 15rem;
height: 3.9rem;
}
.format{
margin-top: 17rem;
}
.format__content{
column-gap: 11.3rem;
}
.format__content{
margin-top: 8.9rem;
}
.format__content>div>h4{
color: var(--color-blue);
}
.format__content>div>p{
margin-top:0.1rem ;
width: 22.3rem;
height: 6.4rem;
}
.whatDoWeKnow{
margin-top: 22.4rem;
}
.whatDoWeKnow__list >ul{
margin-top: 2.1rem;
width: 66.2rem;
height: 37.4rem;
}
.whatDoWeKnow__list >ul>li{
font-size: 2.4rem;
font-style: normal;
font-family: var(--main-font1);
line-height: 150%;

}

.proqrammaKursa{

margin-top: 23.6rem;
}
.proqrammaKursa__content{
display: flex;
justify-content: center;
margin-top: 9.5rem;
}
.proqrammaKursa__content__items{
width: 88.33%;
display: grid;
grid-template-columns: auto auto auto;
gap: 3.7rem;
justify-content: space-around;


}
.proqrammaKursa__content__item{

background-color: var(--color-white);
box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.25);
border-radius: 3.6rem;
}

.proqrammaKursa__content__item >h1, .proqrammaKursa__content__item >p{
width: 36.5rem;
margin-left: 2rem;
line-height: 130%;
}

.proqrammaKursa__content__item >h1{
height: 3.9rem;
font-size: 3rem;

}
.proqrammaKursa__content__item >p{

height: 6.3rem;
margin-top: 3.2rem;
margin-bottom: 2.3rem;
font-size: 2.5rem;
}
.proqrammaKursa__content__item:nth-child(8)>h1{
line-height: 97%;
}
.people1616{

margin-top: 12.1rem;
padding-top: 9.1rem;
padding-bottom: 11.1rem;
background-color: var(--color-white-grey);
}
.people1616 >h1{
width: 98.7rem;
height: 9.3rem;
}
.people1616__card{
display: grid;
grid-template-columns: auto;
justify-content: center;
padding-top: 4rem;
margin-top: 3.4rem;
width: 79.1rem;
height: 45.1rem;
background-color: var(--color-white);
box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.25);
border-radius: 3rem;
}
.people1616__card >p{
width: 70rem;
height: 20.3rem;
font-size: 2rem;
}
.profilePhoto{
display: flex;
align-items: center;
column-gap: 5rem;
width: 15.3rem;
height: 15.3rem;

}
.profileName >h4{
width: 35.3rem;
height: 5.9rem;
font-size: 3rem;
}
.social{
width: 3.2rem;
height: 3.1rem;
}
.nachaloKursa{
background-color: var(--color-light-blue);
padding-top: 17.9rem;
padding-bottom: 18.5rem;
}
.nachaloKursa__heder h1{
font-size: 5.5rem;
}
.nachaloKursa__heder p{
margin-top: 5.4rem;

width: 17rem;
height: 3.2rem;
font-size: 2.5rem;
}
.nachaloKursa__heder h4{
width: 48.1rem;
height: 18.1rem;
font-size: 8rem;
}
.subtext{
display: flex;
column-gap: 7rem;

margin-top: 7.1rem;
}
.subtext h4{
width: 29.4rem;
font-size: 2.5rem;
font-weight: 400;
}
.subtext p{
margin-top: 0.9rem;
width: 29.4rem;
height: 7rem;
font-size: 1.8rem;
}
