
/* max-width:1280px *//* max-width:1280px *//* max-width:1280px *//* max-width:1280px *//* max-width:1280px *//* max-width:1280px *//* max-width:1280px *//* max-width:1280px *//* max-width:1280px *//* max-width:1280px *//* max-width:1280px *//* max-width:1280px *//* max-width:1280px */

@media (max-width:1280px){

/* Section headert text styling *//* Section headert text styling *//* Section headert text styling *//* Section headert text styling *//* Section headert text styling *//* Section headert text styling */

.container>h1{
font-size: 3.2rem;
line-height: 101.38%;
height: 5.336rem;
width: 38.63;
}

/* Navbar max-width:1280px  *//* Navbar max-width:1280px  *//* Navbar max-width:1280px  *//* Navbar max-width:1280px  *//* Navbar max-width:1280px  *//* Navbar max-width:1280px  */

.nav__logo{
width: 6.487rem;
height: 3.823rem;
}
/* Kino max-width:1280px  *//* Kino max-width:1280px  *//* Kino max-width:1280px  *//* Kino max-width:1280px  *//* Kino max-width:1280px  *//* Kino max-width:1280px  *//* Kino max-width:1280px  */
.kino{
margin-top: 5.618rem;
}
.kino__content__left__topBar{
column-gap: 1.148rem;
}
.kino__content__left__topBar >div{
column-gap: 0.463rem;
font-size: 1.2rem;
}

.kino__content{
column-gap: 8.118rem;
}
.kino__content__left >h1{
width: 36.372rem;
height: 11.004rem;
font-size: 4.6rem;
margin-top: 1.564rem;
}
.kino__content__left >p{
width: 26.4rem;
font-size: 1.2rem;
margin-top: 2.7rem;
}
.DirectorImage{
width: 17.607rem;
height: 20.618rem;
}
.DirectorImage__botomShadow{

width: 15.869rem;
height: 2.375rem;
}

/* Queto max-width:1280px  *//* Queto max-width:1280px  *//* Queto max-width:1280px  *//* Queto max-width:1280px  *//* Queto max-width:1280px  *//* Queto max-width:1280px  *//* Queto max-width:1280px  */

.queto{
margin-top: 3.917rem;
}
.queto__content{
padding-left: 1.508rem;
padding-top: 1.115rem;
width: 28.011rem;
height: 11.583rem;
border-radius: 0.289583rem;
}
.queto__content >p:nth-child(1){
width: 24.938rem;
height: 6.545rem;
font-size: 1.4rem;
line-height: 130%;

}
.queto__content >p:nth-child(2){
margin-top: 0.86rem;
width: 100%;
padding-right: 1.508rem;
font-size: 1.2rem;
line-height: 130%;
}

/* O Kurs max-width:1280px  *//* O Kurs max-width:1280px  *//* O Kurs max-width:1280px  *//* O Kurs max-width:1280px  *//* O Kurs max-width:1280px  *//* O Kurs max-width:1280px  *//* O Kurs max-width:1280px  *//* O Kurs max-width:1280px  */

.kurs{
margin-top: 10.041rem;
}
.kurs__TopContent{
column-gap: 11.004rem;
}
.kurs__TopContent__left >p{
width: 38.341rem;
height: 21.661rem;
font-size: 1.4rem;
}
.cameramanImage{
width: 18.186rem;
height: 18.244rem;
}
.cameramanImage__botomShadow{
width: 21.198rem;
height: 3.417rem;
}
.kurs__bottomContent{
margin-top: 4.751rem;
}
.kranImage{
position: relative;
width: 13.437rem;
height: 11.757rem;
}
.kranImage__bottomShadow{
width: 10.946rem;
height: 1.853rem;
}
.kurs__bottomContent{
column-gap: 7.645rem;
}
.kurs__bottomContent__right{
column-gap: 5.523rem;
}
.kurs__bottomContent__right div{
row-gap: 0.036rem;
}
.kurs__bottomContent__right>div> h4, .format__content>div>h4{
font-size: 1.5rem;
height: 2.259rem;
}
.kurs__bottomContent__right>div> p,  .format__content>div>p{
font-size: 1.1rem;
line-height: 130%;
}
.kurs__bottomContent__right>div> p{
width: 10.8rem;
height: 2.3rem;
}

/* Format max-width:1280px  *//* Format max-width:1280px  *//* Format max-width:1280px  *//* Format max-width:1280px  *//* Format max-width:1280px  *//* Format max-width:1280px  *//* Format max-width:1280px  */

.format{
margin-top: 9.383rem;
}
.format__content{
column-gap: 4.6rem;
margin-top: 5.155rem;
}

.format__content>div>p{
margin-top:0.1rem ;
width: 15.3rem;
height: 3.9rem;
}
/* whatDoWeKnow max-width:1280px  *//* whatDoWeKnow max-width:1280px  *//* whatDoWeKnow max-width:1280px  *//* whatDoWeKnow max-width:1280px  *//* whatDoWeKnow max-width:1280px  *//* whatDoWeKnow max-width:1280px  *//* whatDoWeKnow max-width:1280px  */

.whatDoWeKnow{
margin-top: 12.755rem;
}
.whatDoWeKnow__list >ul{
margin-top: 1.216rem;
width: 38.341rem;
height: 21.661rem;
}
.whatDoWeKnow__list >ul>li{
font-size: 1.4rem;
}

/* ProqrammaKursa max-width:1280px  *//* ProqrammaKursa max-width:1280px  *//* ProqrammaKursa max-width:1280px  *//* ProqrammaKursa max-width:1280px  *//* ProqrammaKursa max-width:1280px  *//* ProqrammaKursa max-width:1280px  *//* ProqrammaKursa max-width:1280px  *//* ProqrammaKursa max-width:1280px  */

.proqrammaKursa{
margin-top: 13.881rem;
}
.proqrammaKursa__content{
margin-top: 5.02rem;
}
.proqrammaKursa__content__items{
gap: 2.143rem;
}
.proqrammaKursa__content__item{
width: 23.109rem;
height: 18.997rem;
border-radius: 1.7375rem;
}
.proqrammaKursa__content__item >h1, .proqrammaKursa__content__item >p{
width: 21.14rem;
margin-left: 2rem;
line-height: 130%;
}


.proqrammaKursa__content__item >h1{
height: 2.259rem;
font-size: 1.7rem;

}
.proqrammaKursa__content__item >p{

height: 6.3rem;
margin-top: 1.853rem;
margin-bottom: 1.332rem;
font-size: 1.4rem;
}
.proqrammaKursa__content__item:nth-child(8)>h1{
line-height: 97%;
}
.people1616{
margin-top: 10.53rem;
padding-top: 5.27rem;
padding-bottom: 6.429rem;
}

/* people1616 max-width:1280px  *//* people1616 max-width:1280px  *//* people1616 max-width:1280px  *//* people1616 max-width:1280px  *//* people1616 max-width:1280px  *//* people1616 max-width:1280px  *//* people1616 max-width:1280px  */

.people1616 >h1{
width: 57.164rem;
height: 5.386rem;
}
.people1616__card{

padding-top: 2.317rem;
margin-top: 1.969rem;
width: 45.812rem;
height: 26.12rem;
border-radius: 1.7375rem;
}
.people1616__card >p{
width: 40.542rem;
height: 11.757rem;
font-size: 1.2rem;
}
.profilePhoto{
column-gap: 3rem;
width: 10rem;
height: 10rem;
}
.profileName >h4{
width: 20.445rem;
height: 3.417rem;
font-size: 1.7rem;
}
.social{
width: 1.853rem;
height: 1.795rem;
}

/* nachaloKursa max-width:1280px  *//* nachaloKursa max-width:1280px  *//* nachaloKursa max-width:1280px  *//* nachaloKursa max-width:1280px  *//* nachaloKursa max-width:1280px  *//* nachaloKursa max-width:1280px  *//* nachaloKursa max-width:1280px  */

.nachaloKursa{
padding-top: 10.367rem;
padding-bottom: 10.715rem;
}
.nachaloKursa__heder > h1{
font-size: 3.2rem;
}
.nachaloKursa__heder p{
margin-top: 3.127rem;

width: 9.846rem;
height: 1.853rem;
font-size: 1.4rem;
}
.nachaloKursa__heder h4{
width: 48.1rem;
height: 18.1rem;
font-size: 4.6rem;
}
.subtext{
column-gap: 4.054rem;
margin-top: 4.107rem;
}
.subtext h4{
width: 17.08rem;
font-size: 1.4rem;
}
.subtext p{
margin-top: 0.521rem;
width: 17.028rem;
height: 4.054rem;
font-size: 1rem;
}

/* Footer max-width:1280px  *//* Footer max-width:1280px  *//* Footer max-width:1280px  *//* Footer max-width:1280px  *//* Footer max-width:1280px  *//* Footer max-width:1280px  *//* Footer max-width:1280px  *//* Footer max-width:1280px  */

.footer{
padding-top: 2.896rem;
}
.footer__logo{
width: 6.66rem;
height: 3.938rem;
}
.footer_socialMedia{
margin-top: 1.738rem;
column-gap: 1.043rem;
}
.footer_socialMedia a{
font-size: 1.911rem;
}
.footer__content__right >div{

column-gap: 1.274rem;
font-size: 1.4rem;
}
.footer__subtext{
font-size: 1rem;
margin-top: 8.514rem;
padding-bottom: 1.332rem;
}
}

/* max-width:790px  *//* max-width:790px  *//* max-width:790px  *//* max-width:790px  *//* max-width:790px  *//* max-width:790px  *//* max-width:790px  *//* max-width:790px  */

@media (max-width:790px){

/* Section headert text styling *//* Section headert text styling *//* Section headert text styling *//* Section headert text styling *//* Section headert text styling *//* Section headert text styling *//* Section headert text styling *//* Section headert text styling *//* Section headert text styling *//* Section headert text styling *//* Section headert text styling */

.container>h1{
font-size: 2.6rem;
width: 31.08rem;
height: 4.334rem;
}

/* Kino max-width:790px  *//* Kino max-width:790px  *//* Kino max-width:790px  *//* Kino max-width:790px  *//* Kino max-width:790px  *//* Kino max-width:790px  *//* Kino max-width:790px  */

.kino__content__left__topBar{
column-gap: 1.165rem;
}
.kino__content__left__topBar >div{
column-gap: 0.373rem;
font-size: 1rem;
}
.kino__content__left__topBar >div>p,.kino__content__left__topBar >div>i{
font-size: 1rem;
}
.kino__content{
flex-wrap: wrap;
}
.kino__content__left >h1{
width: 29.263rem;
height: 8.853rem;
font-size: 3.7rem;
margin-top: 1.258rem;
}
.kino__content__left >p{
width: 21.24rem;
height: 2.896rem;
font-size: 1rem;
margin-top: 0.222rem;
}
.DirectorImage{
width: 14.166rem;
height: 16.589rem;
}
.DirectorImage__botomShadow{
width: 12.768rem;
height: 1.91rem;
}

/* Queto max-width:790px  *//* Queto max-width:790px  *//* Queto max-width:790px  *//* Queto max-width:790px  *//* Queto max-width:790px  *//* Queto max-width:790px  *//* Queto max-width:790px  *//* Queto max-width:790px  */

.queto{
margin-top: 3.864rem;
justify-content: start;
}
.queto__content{
padding-left: 1.213rem;
padding-top: 0.897rem;
width: 22.536rem;
height: 9.319rem;
border-radius: 0.232986rem;
}
.kino__content__right{
width: 100%;
display: flex;
justify-content: end;
}
.queto__content >p:nth-child(1){
width: 20.064rem;
height: 5.265rem;
font-size: 1.1rem;

}
.queto__content >p:nth-child(2){
margin-top: 0.86rem;
width: 100%;
font-size: 1rem;
}

/* kurs max-width:790px  *//* kurs max-width:790px  *//* kurs max-width:790px  *//* kurs max-width:790px  *//* kurs max-width:790px  *//* kurs max-width:790px  *//* kurs max-width:790px  *//* kurs max-width:790px  */

.kurs{
margin-top: 7.506rem;
}
.kurs__TopContent{
gap: 1rem;


}
.kurs__TopContent__left >p{
width: 30.847rem;
height: 17.427rem;
font-size: 1rem;
}
.kurs__TopContent__right{
width: 100%;
display: flex;
justify-content: center;
}
.cameramanImage{
width: 14.632rem;
height: 14.678rem;
}
.cameramanImage__botomShadow{
width: 17.055rem;
height: 2.749rem;
}
.kurs__bottomContent{
margin-top: 4.571rem;
}
.kranImage{
display: none;
}
.kurs__bottomContent{
column-gap: 0rem;
}
.kurs__bottomContent__right{
flex-wrap: wrap;
gap: 3.333rem;
}
.kurs__bottomContent__right div{
row-gap: 0.083rem;
}
.kurs__bottomContent__right>div> h4, .format__content>div>h4{
font-size: 1.2rem;

height: 2.259rem;
}
.kurs__bottomContent__right>div> p,  .format__content>div>p{
font-size: 1rem;


}
.kurs__bottomContent__right>div> p{
width: 8.6rem;
height: 1.8rem;
}

/* Format max-width:790px  *//* Format max-width:790px  *//* Format max-width:790px  *//* Format max-width:790px  *//* Format max-width:790px  *//* Format max-width:790px  *//* Format max-width:790px  */

.format{
margin-top: 7.6rem;
}
.format__content{
column-gap: 4.6rem;
row-gap: 1rem;
flex-wrap: wrap;
margin-top: 1.666rem;
}
.format__content>div>p{
margin-top:0.083rem ;
width: 16.5rem;
height: 8rem;
}

/* whatDoWeKnow max-width:790px  *//* whatDoWeKnow max-width:790px  *//* whatDoWeKnow max-width:790px  *//* whatDoWeKnow max-width:790px  *//* whatDoWeKnow max-width:790px  *//* whatDoWeKnow max-width:790px  *//* whatDoWeKnow max-width:790px  */

.whatDoWeKnow{
margin-top: 7.3rem;
}
.whatDoWeKnow__list >ul{
margin-top: 0.966rem;
width: 29.9rem;
height: 19.3rem;
}
.whatDoWeKnow__list >ul>li{
font-size: 1.2rem;
}

/* proqrammaKursa max-width:790px  *//* proqrammaKursa max-width:790px  *//* proqrammaKursa max-width:790px  *//* proqrammaKursa max-width:790px  *//* proqrammaKursa max-width:790px  *//* proqrammaKursa max-width:790px  */

.proqrammaKursa{
margin-top: 6.6rem;
}
.proqrammaKursa__content{
margin-top: 3.566rem;
}
.proqrammaKursa__content__items{
grid-template-columns: auto auto;
gap: 2.416rem;
}

/* people1616 max-width:790px  *//* people1616 max-width:790px  *//* people1616 max-width:790px  *//* people1616 max-width:790px  *//* people1616 max-width:790px  *//* people1616 max-width:790px  *//* people1616 max-width:790px  *//* people1616 max-width:790px  */

.people1616{
margin-top: 4.716rem;
padding-top: 4.2rem;
padding-bottom: 5.3rem;
}
.people1616 h1{
width: 25.7rem;
height: 6.9rem;
} 
.people1616__card{
padding-top: 2.317rem;
margin-top: 1.969rem;
width: 30.8rem;
height: 24.8rem;
border-radius: 1.7375rem;
}
.people1616__card >p{
width: 26.6rem;
height: 11.101rem;
font-size: 1rem;
}
.profilePhoto{
column-gap: 1.363rem;
width: 8rem;
height: 8rem;
}
.profileName >h4{
width: 16.449rem;
height: 3.273rem;
font-size: 1.4rem;
}
/* nachaloKursa max-width:790px  *//* nachaloKursa max-width:790px  *//* nachaloKursa max-width:790px  *//* nachaloKursa max-width:790px  *//* nachaloKursa max-width:790px  *//* nachaloKursa max-width:790px  *//* nachaloKursa max-width:790px  */
.nachaloKursa{
padding-top: 6.2rem;
padding-bottom: 6.346rem;
}
.nachaloKursa__heder > h1{
font-size: 2.6rem;
}
.nachaloKursa__heder p{
margin-top: 2.233rem;

width: 7.922rem;
height: 1.491rem;
font-size: 1.4rem;
}
.nachaloKursa__heder h4{
width: 22.4rem;
height: 3.9rem;
font-size: 3.7rem;
}
.subtext{
display: flex;
column-gap: 3.1rem;
margin-top: 3.354rem;
}
.subtext h4{
width: 13.7rem;
font-size: 1.2rem;
}
.subtext p{
margin-top: 0.9rem;
width: 13.7rem;
height: 3.8rem;
font-size: 1rem;
}

/* Footer max-width:790px  *//* Footer max-width:790px  *//* Footer max-width:790px  *//* Footer max-width:790px  *//* Footer max-width:790px  *//* Footer max-width:790px  *//* Footer max-width:790px  *//* Footer max-width:790px  */

.footer{
padding-top: 2.33rem;
}
.footer__logo{
width: 5.359rem;
height: 3.169rem;
}
.footer_socialMedia{
margin-top: 1.398rem;
column-gap: 0.839rem;
}
.footer_socialMedia a{
font-size: 1.911rem;
}
.footer__content__right >div{

column-gap: 1.274rem;
font-size: 1.2rem;
}

}
/*  max-width:537px  *//*  max-width:537px  *//*  max-width:537px  *//*  max-width:537px  *//*  max-width:537px  *//*  max-width:537px  *//*  max-width:537px  */
@media (max-width:567px){
.kurs__TopContent{
gap: 1rem;
flex-wrap: wrap;

}
.people1616__card,.people1616__card>p{
    width: 100%;
} 
.people1616__card>p{
    padding-left: 2rem;
    padding-right: 2rem;
}
.profilePhoto{
    margin-left: 2rem;
}
.footer__content{
display: block;
}
.footer__content__right{
margin-top: 4.812rem;
}

.proqrammaKursa__content__items{
grid-template-columns: auto ;

}
.proqrammaKursa__content__item >h1, .proqrammaKursa__content__item >p{
width: 17.008rem;
margin-left: 2rem;

}
.proqrammaKursa__content__item >h1{
height: 1.817rem;
font-size: 1.4rem;
}
.proqrammaKursa__content__item >p{
width: 21.14rem;
height: 2.936rem;
margin-top: 1.491rem;
margin-bottom: 1.072rem;
font-size: 1.2rem;
}



}
